/* Elite Product Styling */
/* Global Setting */
/* Colors */
/* Buttons */
.btn-lg, .btn-group-lg > .btn, .btn-primary-lg, .btn-normal-lg {
  padding: 12px 160px 12px 160px;
  font-size: 14px; }

.btn-md, .btn-primary-md, .btn-normal-md {
  padding: 6px 12px 6px 12px;
  line-height: 16px;
  font-size: 14px; }

.btn-sm, .btn-group-sm > .btn, .btn-primary-sm, .btn-normal-sm {
  padding: 5px 7px 5px 7px;
  font-size: 13px;
  line-height: 15px; }

/* Tables */
.inline-center {
  text-align: center; }

.inline-right {
  text-align: right; }

.inline-left {
  text-align: left; }

.tbl-style {
  border-radius: 2px;
  border-spacing: 0;
  font-size: 14px;
  color: #333333;
  min-width: 100%;
  /*min-width: 550px !important;*/ }
  .tbl-style thead tr th {
    padding: 14px;
    text-align: left;
    color: #666666;
    font-weight: normal; }
    .tbl-style thead tr th a {
      color: #666666; }
    .tbl-style thead tr th *.table-sorted-column {
      font-weight: bold;
      color: #333333; }
    .tbl-style thead tr th *.table-sort-icon {
      display: inline-block;
      margin-left: 6px;
      margin-bottom: 2px;
      width: 8px;
      height: 4px; }
  .tbl-style tbody tr td {
    padding: 14px;
    border-top: 1px solid #E5E5E5; }
  .tbl-style tbody tr:hover {
    background: #E5F0FB; }
  .tbl-style a {
    text-decoration: none; }

.tbl-style.summary tr td {
  background-color: #E5E5E5;
  border-top: 1px solid #999999; }
.tbl-style.summary tr:last-child td {
  border-bottom: 1px solid #999999; }
.tbl-style.summary tr:hover {
  background: #E5E5E5; }

.close {
  opacity: 0.3; }

.close:hover {
  opacity: 1; }

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333; }

.close:before {
  transform: rotate(45deg); }

.close:after {
  transform: rotate(-45deg); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #0275d8;
  text-decoration: none; }
  a:focus, a:hover {
    color: #014c8c;
    text-decoration: underline; }

.pageTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.sectionHeader {
  font-weight: bold; }

small.badge {
  font-weight: normal;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  background-color: #8a6d3b;
  padding: 2px 5px;
  font-size: 0.7rem; }

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    flex: 0 1 auto; }
    .btn-group > .btn:hover,
    .btn-group-vertical > .btn:hover {
      z-index: 2; }
    .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active,
    .btn-group-vertical > .btn:focus,
    .btn-group-vertical > .btn:active,
    .btn-group-vertical > .btn.active {
      z-index: 2; }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group,
  .btn-group-vertical .btn + .btn,
  .btn-group-vertical .btn + .btn-group,
  .btn-group-vertical .btn-group + .btn,
  .btn-group-vertical .btn-group + .btn-group {
    margin-left: -1px; }

.btn-toolbar {
  display: flex;
  justify-content: flex-start; }
  .btn-toolbar .input-group {
    width: auto; }

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0; }

.btn-group > .btn:first-child {
  margin-left: 0; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group > .btn-group {
  float: left; }

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }

.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0; }

.btn + .dropdown-toggle-split {
  padding-right: 5.25px;
  padding-left: 5.25px; }
  .btn + .dropdown-toggle-split::after {
    margin-left: 0; }

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split, .btn-primary-sm + .dropdown-toggle-split, .btn-normal-sm + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem; }

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split, .btn-primary-lg + .dropdown-toggle-split, .btn-normal-lg + .dropdown-toggle-split {
  padding-right: 1.125rem;
  padding-left: 1.125rem; }

.btn-group.open .dropdown-toggle {
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.3); }
  .btn-group.open .dropdown-toggle.btn-link {
    box-shadow: none; }

.btn-group-vertical {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .btn-group-vertical .btn,
  .btn-group-vertical .btn-group {
    width: 100%; }
  .btn-group-vertical > .btn + .btn,
  .btn-group-vertical > .btn + .btn-group,
  .btn-group-vertical > .btn-group + .btn,
  .btn-group-vertical > .btn-group + .btn-group {
    margin-top: -1px;
    margin-left: 0; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0; }
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none; }

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 7px;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  box-shadow: none !important; }
  .btn:focus, .btn:hover {
    text-decoration: none; }
  .btn.btn-default {
    border-color: #CCC;
    color: #333;
    background-color: #F3F3F3;
    border-color: #CCC;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(51, 51, 51, 0.075); }
    .btn.btn-default:hover {
      color: #333;
      background-color: #E5E5E5;
      border-color: #CCC; }
    .btn.btn-default:focus, .btn.btn-default.focus {
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(51, 51, 51, 0.075), 0 0 0 2px rgba(204, 204, 204, 0.5); }
    .btn.btn-default.disabled, .btn.btn-default:disabled {
      background-color: #f7f7f7;
      border-color: #ddd;
      color: #999; }
    .btn.btn-default:active, .btn.btn-default.active, .show > .btn.btn-default.dropdown-toggle {
      background-image: none; }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25); }
  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
    box-shadow: none; }
  .btn:active, .btn.active {
    background-color: #E5E5E5;
    background-image: none;
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.3); }

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none; }

.btn-link {
  font-weight: normal;
  color: #333;
  border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent;
    box-shadow: none; }
  .btn-link, .btn-link:focus, .btn-link:active {
    border-color: transparent; }
  .btn-link:hover {
    border-color: transparent; }
  .btn-link:focus, .btn-link:hover {
    color: #014c8c;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link:disabled {
    color: #999; }
    .btn-link:disabled:focus, .btn-link:disabled:hover {
      text-decoration: none; }

.btn-lg, .btn-group-lg > .btn, .btn-primary-lg, .btn-normal-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.btn-sm, .btn-group-sm > .btn, .btn-primary-sm, .btn-normal-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.btn-block {
  display: block;
  width: 100%; }

.btn-block + .btn-block {
  margin-top: 0.5rem; }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%; }

/* Common Button Style */
.btn-style, .btn-spaced {
  font-family: Arial;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 0 0;
  text-decoration: none;
  float: none; }

.btn-style a, .btn-spaced a,
.btn-spaced a {
  color: inherit;
  text-decoration: none;
  /*pointer-events: none;*/ }

.btn-spaced {
  margin-left: 8px;
  margin-right: 8px; }

/* Primary Button */
.btn-primary, .btn-primary-lg, .btn-primary-md, .btn-primary-sm {
  color: #FFFFFF;
  background: #F6881F;
  border: 1px solid #F6881F; }
  .btn-primary:hover, .btn-primary-lg:hover, .btn-primary-md:hover, .btn-primary-sm:hover {
    background: #DD6C16; }
  .btn-primary:active, .btn-primary-lg:active, .btn-primary-md:active, .btn-primary-sm:active {
    box-shadow: 0 0 4px rgba(56, 43, 32, 0.8) inset; }
  .btn-primary:disabled, .btn-primary-lg:disabled, .btn-primary-md:disabled, .btn-primary-sm:disabled {
    background: #F5C69A;
    border: 1px solid #F5C69A;
    cursor: default; }

/*primary Button Large*/
/*primary Button Medium*/
/*primary Button Small*/
/*Normal Button*/
.btn-normal, .btn-normal-lg, .btn-normal-md, .btn-normal-sm {
  color: #333333;
  background: #F3F3F3;
  border: 1px solid #CCC; }
  .btn-normal:hover, .btn-normal-lg:hover, .btn-normal-md:hover, .btn-normal-sm:hover {
    background: #E5E5E5; }
  .btn-normal:active, .btn-normal-lg:active, .btn-normal-md:active, .btn-normal-sm:active {
    box-shadow: 0 0 4px rgba(56, 43, 32, 0.4) inset; }
  .btn-normal:disabled, .btn-normal-lg:disabled, .btn-normal-md:disabled, .btn-normal-sm:disabled {
    background-color: #F7F7F7;
    color: #999999;
    border: 1px solid #DDD;
    cursor: default; }

/*Normal Button Large*/
/*Normal Button Medium*/
/*Normal Button Small*/
/*Text Button*/
.btn-text {
  text-decoration: none;
  font-size: 14px;
  color: #2288AF;
  font-family: Arial;
  border: none;
  background: none;
  outline: none;
  cursor: pointer; }
  .btn-text:hover {
    text-decoration: underline; }
  .btn-text:disabled {
    color: #999999;
    cursor: default; }

.btn-container, .btn-container-on-bottom-popup {
  font-size: 0; }

.btn-container-on-bottom-popup {
  width: 100%;
  text-align: center;
  margin: 20px 0 10px 0;
  clear: both; }

.dropup,
.dropdown {
  position: relative; }
  .dropup.open .btn.dropdown-toggle,
  .dropdown.open .btn.dropdown-toggle {
    background-color: #E5E5E5; }
  .dropup.open .dropdown-menu,
  .dropdown.open .dropdown-menu {
    display: block; }

.dropdown-toggle {
  display: flex;
  align-items: center;
  position: relative;
  }
  .dropdown-toggle.btn, .dropdown-toggle.btn-link {
    font-size: 0.85rem;
    line-height: 1.2; }
  .dropdown-toggle.btn {
    /*padding-left: 12px;
    padding-right: 7px;*/
    padding-left: 12px;
    padding-right: 0; }
  .dropdown-toggle.btn-link {
    padding-left: 0;
    padding-right: 0; }
    .dropdown-toggle.btn-link:hover {
      text-decoration: none;
      color: #1a1a1a; }
  .dropdown-toggle .icon-expand {
    width: 18px;
    height: 18px;
    display: inline-block;
    font-size: 6px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 3px;
    margin-right: 7px;
    -webkit-text-fill-color: #333; }
  .dropdown-toggle:focus {
    outline: 0; }

.dropup .dropdown-toggle::after {
  border-top: 0;
  border-bottom: 4px solid; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  max-height: 285px;
  max-width: 300px;
  overflow-y: auto;
  display: none;
  float: left;
  min-width: 110px;
  padding: 0 0;
  margin: 0;
  font-size: 0.85rem;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid rgba(51, 51, 51, 0.15);
  border-radius: 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3); }
  .dropdown-menu li > a {
    display: block;
    padding: 8px;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    white-space: normal;
    font-size: 0.85rem; }
    .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
      text-decoration: none;
      background-color: #E5F0FB; }
  .dropdown-menu .search-box {
    margin: 8px; }

.dropdown-divider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: #eceeef; }

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: normal;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
  .dropdown-item:focus, .dropdown-item:hover {
    color: #262626;
    text-decoration: none;
    background-color: #E5F0FB; }
  .dropdown-item.active, .dropdown-item:active {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0275d8; }
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #999;
    cursor: not-allowed;
    background-color: transparent; }

.show > .dropdown-menu {
  display: block; }
.show > a {
  outline: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-header {
  display: block;
  padding: 0 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #999;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 0.125rem; }

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 0.85rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #FFFFFF;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(51, 51, 51, 0.15);
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #464a4c;
    background-color: #FFFFFF;
    border-color: #5cb3fd;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.075), rgba(92, 179, 253, 0.6); }
  .form-control::placeholder {
    color: #999;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1; }
  .form-control:disabled {
    cursor: not-allowed; }

.form-group {
  margin-bottom: 1rem;
  position: relative; }

.form-control-feedback {
  margin-top: 0.25rem; }

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 1.5rem;
  background-repeat: no-repeat;
  background-position: center right 0.51563rem;
  background-size: 1.03125rem 1.03125rem; }

.has-success .custom-control,
.has-success .control-label,
.has-success .help-block {
  color: #7DBE42; }
.has-success .form-control {
  border-color: #7DBE42; }
  .has-success .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.075), 0 0 6px #b1d88e; }
.has-success .input-group-addon {
  color: #FFFFFF;
  border-color: #7DBE42;
  background-color: #7DBE42; }

.has-warning .custom-control,
.has-warning .control-label,
.has-warning .help-block {
  color: #8a6d3b; }
.has-warning .form-control {
  border-color: #8a6d3b; }
  .has-warning .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.075), 0 0 6px #c0a16b; }
.has-warning .input-group-addon {
  color: #FFFFFF;
  border-color: #8a6d3b;
  background-color: #8a6d3b; }

.has-error .custom-control,
.has-error .control-label,
.has-error .help-block {
  color: #cc0000; }
.has-error .form-control {
  border-color: #cc0000; }
  .has-error .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.075), 0 0 6px #ff3333; }
.has-error .input-group-addon {
  color: #FFFFFF;
  border-color: #cc0000;
  background-color: #cc0000; }

.search-box {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  font-family: "Helvetica Neue", sans-serif !important; }
  .search-box .icon {
    position: absolute;
    z-index: 1;
    color: #212B35;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 6px;
    font-weight: bold; }
  .search-box .form-control {
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #ddd;
    padding-left: 28px;
    color: #333 !important; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999 !important; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999 !important; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999 !important; }

body {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  font-family: "Helvetica Neue", Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  margin: 0; }

body, .pageWrapper {
  min-height: 100vh; }

.pageWrapper {
  padding: 20px; }

.dropdown--wrapper {
  display: flex;
  flex-wrap: wrap; }
  .dropdown--wrapper .dropdown--item {
    flex: 0 0 180px;
    margin: 10px 20px; }
    .dropdown--wrapper .dropdown--item small {
      display: block;
      margin-bottom: 5px;
      color: #999;
      text-transform: uppercase;
      font-size: 10px; }

.inner-page--wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.text-right {
  text-align: right !important; }

.card--wrapper {
  display: flex; }

.tag:not(body) {
  display: flex;
  align-items: center;
  justify-content: center; }

.tag--wrapper {
  display: flex; }

.tag:not(body) {
  font-family: Helvetica;
  background-color: #E5E5E5;
  white-space: nowrap;
  padding: 4px 4px 4px 8px;
  border-radius: 0;
  color: #fff;
  font-size: 0.85rem;
  text-transform: capitalize;
  margin-right: 10px; }
  .tag:not(body).is-tagged {
    padding-right: 8px; }
  .tag:not(body).is--default {
    background-color: #ddd; }

.tag:not(body) .delete {
  margin-left: 4px; }

.delete {
  font-family: Helvetica;
  background: transparent;
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 18px;
  max-height: 18px;
  max-width: 18px;
  min-height: 18px;
  min-width: 18px;
  width: 18px;
  outline: 0;
  position: relative;
  vertical-align: top; }
  .delete:before {
    height: 1px;
    width: 65%; }
  .delete:after {
    height: 65%;
    width: 1px; }
  .delete:before, .delete:after {
    background-color: #fff;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center; }

.btn-orange {
  position: relative;
  padding: 3px 4px;
  color: #fff;
  background-color: #F6881F;
  border-radius: 0;
  width: 26px;
  height: 26px;
  /* Vertical line */
  /* horizontal line */ }
  .btn-orange:before, .btn-orange:after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.25s ease-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .btn-orange:before {
    width: 2px;
    height: 50%; }
  .btn-orange:after {
    width: 50%;
    height: 2px; }
  .btn-orange:hover {
    cursor: pointer; }

.modal-open {
  overflow: hidden; }

.modal {
  display: block;
  margin: 30px auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0; }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%); }
  .modal.show .modal-dialog {
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #333333; }
  .modal-backdrop.fade {
    opacity: 0; }
  .modal-backdrop.show {
    opacity: 0.5; }

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px 24px; }
  .modal-header .close-btn {
    color: #333;
    text-decoration: none !important;
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../img/Close.svg");
    background-size: cover; }

.modal-title {
  margin: 0;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #333; }

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 16px 24px; }

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; }
  .modal-footer > :not(:first-child) {
    margin-left: 6px; }
  .modal-footer > :not(:last-child) {
    margin-right: 6px; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; }

  .modal-sm {
    max-width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?n66b4");
  src: url("../fonts/icomoon.eot?n66b4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?n66b4") format("truetype"), url("../fonts/icomoon.woff?n66b4") format("woff"), url("../fonts/icomoon.svg?n66b4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-expand .path1:before {
  content: "\e901";
  color: black; }

.icon-expand .path2:before {
  content: "\e902";
  margin-left: -1.599609375em;
  color: #333333; }

.icon-close:before {
  content: "\e94f"; }

.icon-left_carousel:before {
  content: "\e96a"; }

.icon-right_carousel:before {
  content: "\e96b"; }

.card--on24 {
  display: inline-block;
  font-family: Helvetica, "Arial", "Segoe UI", "Avenir Next", "Avenir", "Helvetica Neue", "sans-serif";
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  padding: 16px 24px 24px 24px;
  width: fit-content;
  box-shadow: none;
  vertical-align: top;
  /* For multiple combined cards */
  /* To separate multiples contents or card, use this margins */
  /* Title inside cards */
  /* Content of cards */
  /* Default Links / Combined with label classes */
  /* For multiple contents in one single card*/ }
  .card--on24.first-card, .card--on24.middle-card, .card--on24.last-card {
    min-width: 190px;
    width: 190px;
    min-height: 130px;
    height: 130px; }
  .card--on24.first-card {
    border-right: none;
    border-radius: 2px 0 0 2px;
    margin-right: -1px; }
  .card--on24.middle-card {
    margin-left: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-right: -1px; }
  .card--on24.last-card {
    margin-left: 0;
    border-left: none;
    border-radius: 0 2px 2px 0; }
  .card--on24.margin-left, .card--on24 .margin-left {
    margin-left: 20px; }
  .card--on24.margin-right, .card--on24 .margin-right {
    margin-right: 20px; }
  .card--on24.margin-bottom, .card--on24 .margin-bottom {
    margin-bottom: 20px; }
  .card--on24.margin-top, .card--on24 .margin-top {
    margin-top: 20px; }
  .card--on24.width-middle-screen {
    width: 50%; }
  .card--on24 .title--on24 {
    display: block;
    font-size: 16px;
    height: 16px;
    font-weight: 600;
    color: #333333;
    padding: 0; }
  .card--on24 .title-capitalized--on24 {
    text-transform: capitalize; }
  .card--on24 .content--on24 {
    padding-top: 16px;
    display: table-cell;
    vertical-align: top; }
    .card--on24 .content--on24.align-center {
      vertical-align: middle;
      text-align: center; }
      .card--on24 .content--on24.align-center .rdChartCanvas {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px; }
  .card--on24 .label-large--on24, .card--on24 .label-normal--on24 {
    font-weight: normal;
    color: #333333;
    margin-top: 2px; }
  .card--on24 .label-large--on24,
  .card--on24 .label-large--on24 sup {
    font-size: 32px;
    vertical-align: inherit; }
  .card--on24 .label-normal--on24 {
    font-size: 14px; }
  .card--on24 a {
    text-decoration: none; }
    .card--on24 a .label-medium--on24, .card--on24 a .label-normal--on24, .card--on24 a .label-small--on24 {
      color: #2288af;
      /* From .btn-link */ }
    .card--on24 a .link-no-color {
      color: #333333; }
  .card--on24 .group {
    display: inline-block; }

#event-summary-table {
  border-collapse: collapse;
  width: 100%; }
  #event-summary-table td {
    padding-bottom: 12px;
    width: 200px; }
    #event-summary-table td span {
      font-size: 14px;
      color: #666; }

/* Sort icon style, When no icon in the new UI */
/* Widths for Cards and Height for Contents */
/* Widths of cards */
.group.width-full,
.card--on24.width-full {
  width: 95%; }

.card--on24.width-large {
  min-width: 450px;
  width: 450px; }

.card--on24.width-normal {
  min-width: 300px;
  width: 300px; }

.group.width-small,
.card--on24.width-small {
  min-width: 200px;
  width: 200px; }

/* Heights of cards */
.content.height-high--on24 {
  min-height: 200px;
  height: 200px; }

.content.height-medium--on24 {
  min-height: 150px;
  height: 150px;
  max-height: 150px; }

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none; }

.page-item:first-child .page-link {
  margin-left: 0; }
.page-item.active .page-link {
  color: #333333; }
.page-item.disabled .page-link {
  color: #333;
  pointer-events: none;
  cursor: not-allowed;
  padding-left: 0;
  padding-right: 0; }

.page-link {
  position: relative;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  padding: 0 0.4rem;
  line-height: 1.25;
  color: #2288AF; }
  .page-link:focus, .page-link:hover {
    color: #333;
    text-decoration: none; }

body {
  color: #333;
  font-size: 0.85rem;
  font-family: Helvetica !important;
  line-height: 1.5; }

.pageContainer {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%; }

.sectionTitle {
  display: block;
  border-bottom: 1px solid rgba(51, 51, 51, 0.15);
  padding-bottom: 0.5rem;
  color: #464a4c;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1rem; }

.row--flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 1rem; }
  .row--flex .flex-item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    background: #FFFFFF;
    margin: 0 1rem;
    padding: 20px 15px; }
  .row--flex .col-sm {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }

/*# sourceMappingURL=style.css.map */
