 //Toggles
 //
 //Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}


 // breakpoints

 @import "../mixins/breakpoints";


// Utilities

@import "hover";
// // Components

@import "../mixins/buttons";
@import "../mixins/forms";
 @import "../mixins/nav-divider";

// // Skins

@import "../mixins/border-radius";

// // Layout

