
// variables defination for cards scss

$white_color:#fff;
$black_color: #000;
$card_light_gray_color: #666;
$card_primary_color: #196baa;

$card_border_color: #E5E5E5;
$card_border_radius: 2px;
$card_padding: 16px 24px 24px 24px;
$card_align_content: top;
$card_default_space: 20px;
$card_font_family: Helvetica, 'Arial', 'Segoe UI', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'sans-serif';
$no_border: none;

//card width

$card_half_width: 50%;
$card_full_width: 95%;
$card_large_width: 450px;
$card_normal_width: 300px;
$card_small_width: 200px;

$card_child_width: 190px;
$card_child_height: 130px;


// card height

$card_large_height: 200px;
$card_medium_height: 150px;
$card_small_height: 200px;


// typography

$card_title_font_size: 16px;
$card_title_font_size_small: 14px;
$card_title_font_size_large: 20px;
$card_title_font_weight: 600;
$card_font_weight_normal: normal;
$card_title_font_weight_bold: bold;
$card_body_color: #333333;

$disabled_link_color: #B2D5E3;



// spacing
$padding_0: 0;


//components
  // buttons
$card_btn_default_color: #2288af;
// tables

$card_table_border_color: #c8c8c8;
$card_table_border_default: 1px solid $card_table_border_color;
$card_table_cells_min_width:90px;
$card_table_cells_max_width:115px;

$event_table_cells_width: 200px;



.card {
  //display: inline-table;
  display: inline-block;
  font-family: $card_font_family;
  background: $white_color;
  border: 1px solid $card_border_color;
  border-radius: $card_border_radius;
  padding: $card_padding;
  width: fit-content;
  box-shadow: none;
  vertical-align: $card_align_content;

  /* For multiple combined cards */

  &.first-card,&.middle-card, &.last-card
  {
    min-width: $card_child_width;
    width: $card_child_width;
    min-height: $card_child_height;
    height: $card_child_height;
  }


  &.first-card{
    border-right: none;
    border-radius: 2px 0 0 2px;
    margin-right: -1px;
  }
  &.middle-card {
    margin-left: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-right: -1px;
  }
  &.last-card {
    margin-left: 0;
    border-left: none;
    border-radius: 0 2px 2px 0;
  }

  /* To separate multiples contents or card, use this margins */

  &.margin-left, .margin-left
  {
    margin-left: $card_default_space;
  }

  &.margin-right, .margin-right
  {
    margin-right: $card_default_space;
  }

  &.margin-bottom, .margin-bottom
  {
    margin-bottom: $card_default_space;
  }

  &.margin-top, .margin-top
  {
    margin-top: $card_default_space;
  }

  &.width-middle-screen
  {
    width: $card_half_width;
  }

  /* Title inside cards */

  .title {
    //display: table-header-group;
    display: block;
    font-size: $card_title_font_size;
    height: $card_title_font_size;
    font-weight: $card_title_font_weight;
    color: $card_body_color;
    padding: 0;
  }

  .title-capitalized {
    text-transform: capitalize;
  }

  /* Content of cards */

  .content {
    padding-top: 16px;
    display: table-cell;
    vertical-align: top;
    &.align-center {
      vertical-align: middle;
      text-align: center;
      .rdChartCanvas {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2px;
      }
    }
  }

  .content-no-data {
    text-align: center;
    margin: 30% auto;
  }

  //LABELS

  .label-large, .label-medium, .label-normal, .label-small
  {
    font-weight: normal;
    color: $card_body_color;
    margin-top: 2px;
  }


  // Large Labels
  .label-large,
  .label-large sup {
    font-size: $card_title_font_size*2;
    vertical-align: inherit;
  }

  // Medium Labels
  .label-medium {
    font-size: 20px;
  }

  // Normal Labels
  .label-normal {
    font-size: 14px;
  }
  // Small Labels
  .label-small {
    font-size: 10px;
  }


  // Link inside cards
  /* Default Links / Combined with label classes */
  a
  {
    text-decoration: none;
    .label-medium, .label-normal, .label-small
    {
      color: $card_btn_default_color; /* From .btn-link */
    }

    .link-no-color
    {
      color: $card_body_color;
    }
  }


  /* For multiple contents in one single card*/

  .group {
    display: inline-block;
  }
}


// Dashboard Using DASHBOARD Component


.rdDashboard.rdDashboard, .rdDashboardPanelContainer
{
  padding: $padding_0;
}



/* For multiples combined cards */

.rdDashboardPanel,
.rdDashboardPanel .panelInnerTable {
  background-color: transparent;
}

.rdDashboardPanel
{
  display: inline-block;
  vertical-align: top;
  border: none;
  width: auto;
  .panelInnerTable {
    table-layout: inherit;
    .panelTitle {
      display: none;
    }
    .rdDashboardContent td {
      padding: $padding_0;
    }
  }
}



// Table

/* Table Header */

div[id^="rdDataTableDiv-"]
{
  min-height: auto;
}

.table-clean
{
  width: 100%;
  font-size: $card_title_font_size_small !important;
  thead
  {
    font-size: $card_title_font_size_small !important;
    th, a
    {
      background-color: $white_color;
      color: $black_color !important;
      font-weight: $card_font_weight_normal;
    }

    /* Sorter */
    /* Logi component */

    th
    {
      span
      {
        color: $black_color;
        font-size: $card_title_font_size_small !important;
        cursor: pointer;
      }
    }
  }

  /* Table rows */

  tbody
  {
    border-left: $no_border !important;
    border-right: $no_border !important;
    border-top: $card_table_border_default;
    border-bottom: $card_table_border_default;
    tr
    {
      background-color: $white_color !important;
    }

    /* Table cells */
    td {
      min-width: $card_table_cells_min_width;
      max-width: $card_table_cells_max_width;
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  /* Empty row */
  .empty-table {
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
  }

  .sorted-column {
    font-weight: $card_title_font_weight_bold;
  }
  /* Logi component js customized */
  .sort-icon {
    width: 10px;
    height: 10px;
    margin-left: 3px;
  }
}



// Event Summy Table


#event-summary-table {
  border-collapse: collapse;
  width: 100%;
  td {
    padding-bottom: 12px;
    width: $event_table_cells_width;
    span {
      font-size: $card_title_font_size_small;
      color: $card_light_gray_color;
    }
  }
}


/* Sort icon style, When no icon in the new UI */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}


/* Widths for Cards and Height for Contents */
/* Widths of cards */
.group.width-full,
.card.width-full {
  width: $card_full_width;
}
.card.width-large {
  min-width: $card_large_width;
  width: $card_large_width;
}
.card.width-normal {
  min-width: $card_normal_width;
  width: $card_normal_width;
}
.group.width-small,
.card.width-small {
  min-width: $card_small_width;
  width: $card_small_width;
}
/* Heights of cards */
.content.height-high {
  min-height: $card_large_height;
  height: $card_large_height;
}
.content.height-medium {
  min-height: $card_medium_height;
  height: $card_medium_height;
  max-height: $card_medium_height;
}




// Paginator

#paginator {
  float: right;
  font-size: $card_title_font_size_small;
  position: relative;
  margin: 0 0 10px 0;
  a {
    color: #2288af;
    text-decoration: none;
    padding-left: 8px;
    font-size: 14px;
    &:disabled
    {
      color: #B2D5E3;
      cursor: default !important;
      pointer-events: none;
      font-size: 14px;
    }
  }
  .rdThemePagingCurrent {
    background-color: transparent;
    color: #B2D5E3;
    cursor: default;
    padding: 0px 0px 0px 5px;
    font-size: 14px;
  }


  /* Ajax status image */

  div[id^="divPagingWait_"] img {
    display: none;
  }

}

//#paginator a[disabled] {
//
//}




// PANELS

.panel-export {
  display: block;
  width: calc(100% - 12px);
  text-align: right;
  > span {
    margin-left: 10px;
    cursor: pointer;
  }
}

.panel-info {
  display: block;
  text-align: right;
  padding: 10px 0px 20px 0px;
  width: calc(100% - 12px);
}

// TOOLTIP


$quicktip_bg_color:#363B42;

/* QuickTip Logi Component */
.highcharts-tooltip
{
  .rdquicktip-table.rdquicktip-table
  {
    font-family: $card_font_family;
    background-color: $quicktip_bg_color;
    color: $white_color;
  }
}




.rdquicktip-content,
.rdCcTextNormal,
.rdCcTextNormal table,
.rdCcTextNormal td,
.rdCcTextNormal span {
  background-color: $quicktip_bg_color /*QuicktipBackgroundColor*/ !important;
  border-color: $quicktip_bg_color /*QuicktipBorderColor*/ ;
  color: $white_color /*QuicktipFontColor*/ ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=95);
  opacity: 0.99;
  border-radius: 0;
  font-weight: $card_title_font_weight_bold;
  font-size: 100%;
  padding: 1px 2px 2px;
}



.rdquicktip-content
{
  p
  {
    margin: 5px 2px 5px 7px;
  }

  .rdquicktip-table {
    color: $white_color;
  }
  .header {
    background-color: $quicktip_bg_color;
    font-size: 120%;
  }
}

.quicktip-pointer {
  border-color: $quicktip_bg_color transparent;
}
.quicktip-pointer-inner {
  border-color: $quicktip_bg_color transparent;
}



// Common scss for body and title outside cards


/* MAIN PANEL */
/*  which contains all cards */

body,
.page-content {
  background-color: transparent;
}


/* Main Title of cards content*/
.page-content {
  .main-title
  {
    font-family:$card_font_family;
    font-size: $card_title_font_size_large;
    text-align: left;
    color: $card_primary_color;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}

.page-content .main-title-options {
  display: inline-block;
  height: 33px;
  vertical-align: middle;
  cursor: pointer;
}
