$search_box_height: 30px;
$default_border_radius: 2px;
$search_box_border: #ccc;
$search_placeholder_color: #999;
$search_box_color: #333;
$search_icon_color: #212B35;


.search-box
{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  font-family: $font-family-helvetica !important;
  .icon
  {
    position: absolute;
    z-index: 1;
    color: $search_icon_color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 6px;
    font-weight: bold;
  }
  .form-control
  {
    height: $search_box_height;
    border-radius: $default_border_radius;
    box-shadow: none;
    border: 1px solid $search_box_border;
    padding-left: 28px;
    color: $search_box_color !important;
  }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $search_placeholder_color !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $search_placeholder_color !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $search_placeholder_color !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: $search_placeholder_color !important;
}