/* Global Setting */
$font-global: Arial;
$font-size-body: 14px;
$body-bg: #f2f2f2;

/* Colors */
$white: #FFFFFF;
$black: #333333;

$normal-color: #F3F3F3;
$normal-color-darken: #E5E5E5;
$normal-color-lighten: #F7F7F7;

$primary-color: #F6881F;
$primary-color-darken: #DD6C16;
$primary-color-lighten: #F5C69A;

$secondary-color: #2288AF;


$normal-color-border: #CCC;
$normal-color-disabled-border: #DDD;

$disabled-grey: #999999;

$shadow: 0 0 4px rgba(56, 43, 32, 0.4) inset;
$dark-shadow: 0 0 4px rgba(56, 43, 32, 0.8) inset;


$default-button-bg: $normal-color;
$default-button-hover-bg: #E5E5E5;
$default-border-color: $normal-color-border;


$btn-disabled-bg: #f7f7f7;
$btn-disabled-border: #ddd;
$btn-disabled-color: #999;




/* Buttons */
$btn-radius: 2px;

.btn-lg {
	padding: 12px 160px 12px 160px;
	font-size: $font-size-body;
}
.btn-md {
	padding: 6px 12px 6px 12px;
	line-height: 16px;
	font-size: $font-size-body;
}
.btn-sm {
	padding: 5px 7px 5px 7px;
	font-size: 13px;
	line-height: 15px;
}

$btn-normal-border: 1px solid $normal-color-border;
$btn-normal-disabled-border: 1px solid $normal-color-disabled-border;
$btn-primary-border: 1px solid $primary-color;
$btn-primary-disabled-border: 1px solid $primary-color-lighten;

/* Tables */
$tbl-side-padding: 20px;
$tbl-header-padding: 14px;
$tbl-body-padding: 14px;
$tbl-border-radius: 2px;
$tbl-inner-border-color: #E5E5E5;
$tbl-border-spacing: 0;
$tbl-header-color: #666666;
$tbl-current-row-bg: #E5F0FB;
$tbl-summary-background-color: #E5E5E5;
$tbl-summary-inner-border-color: #999999;




// variables added by me

// global color shades

$gray-dark: #333;

@mixin _assert-ascending($map, $map-name) {
	$prev-key: null;
	$prev-num: null;
	@each $key, $num in $map {
		@if $prev-num == null {
			// Do nothing
		} @else if not comparable($prev-num, $num) {
			@warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
		} @else if $prev-num >= $num {
			@warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
		}
		$prev-key: $key;
		$prev-num: $num;
	}
}

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin _assert-starts-at-zero($map) {
	$values: map-values($map);
	$first-value: nth($values, 1);
	@if $first-value != 0 {
		@warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
	}
}


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme.

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            true !default;
$enable-shadows:            true !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
				0: (
								x: 0,
								y: 0
				),
				1: (
								x: ($spacer-x * .25),
								y: ($spacer-y * .25)
				),
				2: (
								x: ($spacer-x * .5),
								y: ($spacer-y * .5)
				),
				3: (
								x: $spacer-x,
								y: $spacer-y
				),
				4: (
								x: ($spacer-x * 1.5),
								y: ($spacer-y * 1.5)
				),
				5: (
								x: ($spacer-x * 3),
								y: ($spacer-y * 3)
				)
) !default;
$border-width: 1px !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
				25: 25%,
				50: 50%,
				75: 75%,
				100: 100%
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:       $white !default;
$body-color:    $gray-dark !default;
$inverse-bg:    $gray-dark !default;
$inverse-color: $gray-lighter !default;


// Links
//
// Style anchor elements.

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
				sm: 540px,
				md: 720px,
				lg: 960px,
				xl: 1140px
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     30px !default;
$grid-gutter-widths: (
				xs: $grid-gutter-width-base,
				sm: $grid-gutter-width-base,
				md: $grid-gutter-width-base,
				lg: $grid-gutter-width-base,
				xl: $grid-gutter-width-base
) !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-helvetica : "Helvetica Neue", sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   500 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight:     300 !default;
$display2-weight:     300 !default;
$display3-weight:     300 !default;
$display4-weight:     300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $gray-light !default;

$abbr-border-color: $gray-light !default;

$blockquote-small-color:  $gray-light !default;
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow:         inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;


// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

$component-active-color: $white !default;
$component-active-bg:    $brand-primary !default;

$caret-width:            4px !default;

$transition-base:        all .2s ease-in-out !default;
$transition-fade:        opacity .15s linear !default;
$transition-collapse:    height .35s ease !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  7px !default;
$btn-padding-y:                  6px !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                $font-weight-normal !default;
$btn-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:          inset 0 0 4px 0 rgba(0,0,0,0.30) !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            $gray-dark !default;
$btn-secondary-bg:               $white !default;
$btn-secondary-border:           #ccc !default;

$btn-info-color:                 $white !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $btn-info-bg !default;

$btn-success-color:              $white !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-warning-color:              $white !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               $white !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-padding-x-sm:               .5rem !default;
$btn-padding-y-sm:               .25rem !default;

$btn-padding-x-lg:               1.5rem !default;
$btn-padding-y-lg:               .75rem !default;

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;
$btn-transition:                 all .2s ease-in-out !default;



// Forms

$input-padding-x:                0.5rem !default;
$input-padding-y:                0.5rem  !default;
$input-line-height:              1.25 !default;

$input-bg:                       $white !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             rgba($black,.15) !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba($black,.075) !default;

$input-border-radius:            0 !default;
$input-border-radius-lg:         $border-radius-lg !default;
$input-border-radius-sm:         $border-radius-sm !default;

$input-bg-focus:                 $input-bg !default;
$input-border-focus:             lighten($brand-primary, 25%) !default;
$input-box-shadow-focus:         $input-box-shadow, rgba($input-border-focus, .6) !default;
$input-color-focus:              $input-color !default;

$input-color-placeholder:        $gray-light !default;

$input-padding-x-sm:             .5rem !default;
$input-padding-y-sm:             .25rem !default;

$input-padding-x-lg:             1.5rem !default;
$input-padding-y-lg:             .75rem !default;

$input-height:                   (($font-size-base * $input-line-height) + ($input-padding-y * 2)) !default;
$input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2)) !default;
$input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2)) !default;

$input-transition:               border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

$cursor-disabled:                not-allowed !default;


$custom-control-indicator-size:       1rem !default;
$custom-control-indicator-margin-y:   (($line-height-base * 1rem) - $custom-control-indicator-size) / -2 !default;
$custom-control-indicator-bg:         #ddd !default;
$custom-select-indicator-color: #333 !default;
$custom-select-indicator:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;



// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-max-height:            285px;
$dropdown-max-width:             300px !default;
$dropdown-min-width:             110px !default;
$dropdown-padding-y:             0 !default;
$dropdown-margin-top:            .125rem !default;
$dropdown-bg:                    $white !default;
$dropdown-border-color:          rgba($black,.15) !default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $gray-lighter !default;
$dropdown-box-shadow:            0 0 4px 0 rgba(0,0,0, 0.30) !default;

$dropdown-link-color:            $gray-dark !default;
$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
$dropdown-link-hover-bg:         $gray-lightest !default;

$dropdown-link-active-color:     $component-active-color !default;
$dropdown-link-active-bg:        $component-active-bg !default;

$dropdown-link-disabled-color:   $gray-light !default;

$dropdown-item-padding-x:        1.5rem !default;

$dropdown-header-color:          $gray-light !default;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:             1000 !default;
$zindex-dropdown:           1000 !default;
$zindex-fixed:              1030 !default;
$zindex-sticky:             1030 !default;
$zindex-modal-backdrop:     1040 !default;
$zindex-modal:              1050 !default;
$zindex-popover:            1060 !default;
$zindex-tooltip:            1070 !default;


$modal-inner-padding:         16px !default;
$modal-body-inner-padding:    16px 24px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-sm-up-margin-y: 30px !default;


$modal-dialog-margin:         10px !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $white !default;
$modal-content-border-color:     rgba($black,.2) !default;

$modal-content-border-width:     $border-width !default;

$modal-content-box-shadow:    0 0 8px rgba(0,0,0,.2) !default;

$modal-backdrop-bg:           $black !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-padding:        12px 16px 12px 24px !default;

$modal-lg:                    800px !default;
$modal-md:                    500px !default;
$modal-sm:                    300px !default;

$modal-transition:            transform .3s ease-out !default;



// pagination


// Pagination

//$pagination-padding-x:                .75rem !default;
//$pagination-padding-y:                .5rem !default;

$pagination-padding-x:                0.4rem !default;
$pagination-padding-y:                0 !default;


//$pagination-padding-x-sm:             .5rem !default;
//$pagination-padding-y-sm:             .25rem !default;
//$pagination-padding-x-lg:             1.5rem !default;
//$pagination-padding-y-lg:             .75rem !default;

$pagination-line-height:              1.25 !default;

$pagination-color:                     $secondary-color !default;
$pagination-bg:                        $white !default;
$pagination-border-width:              $border-width !default;
$pagination-border-color:              #ddd !default;

$pagination-hover-color:               $gray-dark !default;
//$pagination-hover-bg:                  $gray-lighter !default;
//$pagination-hover-border:              #ddd !default;

$pagination-active-color:              $black !default;
//$pagination-active-bg:                 $brand-primary !default;
//$pagination-active-border:             $brand-primary !default;

$pagination-disabled-color:            $gray-dark !default;
//$pagination-disabled-bg:               $white !default;
//$pagination-disabled-border:           #ddd !default;



// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken($state-success-bg, 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken($state-info-bg, 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$mark-bg:                        $state-warning-bg !default;
$state-warning-border:           darken($state-warning-bg, 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken($state-danger-bg, 5%) !default;
















// dropdowns

$dropdown-menu-min-width: 120px;
$dropdown-bg : $white;
$dropdown-link-color: $gray-dark;
$dropdown-link-hover-bg : #E5F0FB;
$dropdown-link-padding: 8px;


// Dropdown menu container and contents.

//$dropdown-min-width:             10rem !default;
//$dropdown-padding-y:             .5rem !default;
//$dropdown-margin-top:            .125rem !default;
//$dropdown-bg:                    $white !default;
//$dropdown-border-color:          rgba($black,.15) !default;
//$dropdown-border-width:          $border-width !default;
//$dropdown-divider-bg:            $gray-lighter !default;
//$dropdown-box-shadow:            0 .5rem 1rem rgba($black,.175) !default;
//
//$dropdown-link-color:            $gray-dark !default;
//$dropdown-link-hover-color:      darken($gray-dark, 5%) !default;
//$dropdown-link-hover-bg:         $gray-lightest !default;
//
//$dropdown-link-active-color:     $component-active-color !default;
//$dropdown-link-active-bg:        $component-active-bg !default;
//
//$dropdown-link-disabled-color:   $gray-light !default;
//
//$dropdown-item-padding-x:        1.5rem !default;
//
//$dropdown-header-color:          $gray-light !default;
